body{
    background-image: url("https://images7.alphacoders.com/782/782777.jpg");
    background-size: 100%;
    overflow-x: hidden;
}

.btn{
    margin: auto;
    display: block;
    font-size: 40px;
    margin-top: 30%;

}

#board{
    background-color: wheat;
    margin: auto;
}
#board td{
    width: 50px;
    background-image: url("/assets/img/tuiles/sol.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    border-width: 1px;
}

.wall{
    background-color: black;
    background-image: url("/assets/img/tuiles/pierre.png") !important;
}
.weapon{
    background-image: inherit !important;
}

.player{
    background-color: blue;
    background-image: inherit !important;

}

#info{
    text-align: center;
    padding: 10px;
    background-color: rgba(250, 250, 250, 0.8);
}

#button{
    display: flex;
    align-items: center;
}

#button > .btn{
    margin-top: 3%;
    font-size: 18px;
}

.card-img{
    object-fit: contain;
    height: 100%;
}

.card-text{
    margin-bottom: 5px;
}

.progress{
    margin-bottom: 5px;
}

.handIcons{
    height: 45px;
}

#Pioche{
    background-image: url("/assets/img/weapons/Pioche.png") !important;
}
#Sceau{
    background-image: url("/assets/img/weapons/Sceau.png") !important;
}
#Hache{
    background-image: url("/assets/img/weapons/Hache.png") !important;
}
#Bêche{
    background-image: url("/assets/img/weapons/Bêche.png") !important;
}
#Epee{
    background-image: url("/assets/img/weapons/Epee.png") !important;
}
#board td#player0{
    background-image: url("/assets/img/players/player0.png") !important;
}
#board td#player1{
    background-image: url("/assets/img/players/player1.png") !important;
}
#board td#player2{
    background-image: url("/assets/img/players/player2.png") !important;
}
#board td#player3{
    background-image: url("/assets/img/players/player3.png") !important;
}
#board td#player4{
    background-image: url("/assets/img/players/player4.png") !important;
}
#board td#player5{
    background-image: url("/assets/img/players/player5.png") !important;
}

.infosWeapons{
    font-size: 14px;
    margin: 0;
    margin-left: 10px;
}